@charset "utf-8";
@import url(./utils.css);
@import url(./root.css);

html {
  font-family: 'Nunito Sans', 'Fira Sans', Arial, sans-serif;
}

body {
  background: 
  conic-gradient(
    from var(--gradient-angle),
    #fff1eb,
    #b0e1ee,
    #fff1eb
    );
  animation: rotation 30s linear infinite;
}


/* ------------------------------------------------ */
/* ------------      Header          -------------- */
/* ------------------------------------------------ */

header {
  height: 50px;
  color: #fff;

  ul {
    width: 250px;
  }
}

nav {
  width:325px;
  
  a {
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 25px;
    color: #fff;
  }

  a:hover {
    background-color: var(--app-color-dark-orange);
  }
}

.header-wrapper {
  line-height: 50px;
  justify-content: space-between;
}

.icon {
  height: 30px;
  width: 30px;
  align-self: center;
}


/* ------------------------------------------------ */
/* ------------      Hero Banner     -------------- */
/* ------------------------------------------------ */


.hero-banner {
  background:
    url(../img/banner-bg.jpg)
    no-repeat
    fixed;
  filter: contrast(90%);
  background-size: cover;
  clip-path: polygon(100% 100%, 75% 90%, 50% 100%, 25% 90%, 0 100%, 0 0, 100% 0);
}

.hero-banner::before {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  height: 150svh;
  content: "";
  background-color: rgb(0 0 0 / 60%);
  z-index: -1;
}


.banner-content {
  min-height: 120svh;
  color:white;
  display: grid;
}

.banner-text {
  width: 40rem;
  height: 30rem;
  padding: 5px;
  color: #9ad6f2;
  filter: contrast(2.5);
  transform: translateY(-100px);
  place-self: center;
  text-align: center;
  text-shadow: 1.5px 1.5px 2px #000;

  p {
    padding: 10px;
  }
}

.banner-title {
  font-family: Teko;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: .5px;
  padding-top: 5px;
}

.banner-blurb {
  font-size: 24px;
  font-weight: 600;
  width: 400px;
  margin-bottom: 5px;
  letter-spacing: .7px;
}

.intouch-button {
  background-color: var(--app-color-dark-orange);
  color: white;
  font-size: 18px;
  font-weight: 600;  
  padding: 10px 20px;
  border-radius: 25px;
  margin-bottom: 20px;
  filter: brightness(100%);
  text-shadow: 0.5px 0.5px 0.5px #000;
}

.intouch-button:hover {
  background-color: var(--app-color-dark-orange);
  filter: brightness(90%);
}

.divider-color {
  background-color: var(--app-color-blue);
  z-index: -10;
}

.section-wrapper {
  background-color:var(--app-color-blue);
  margin-top: -0.5px;
  height: 120svh;
  display: flex;
  justify-content: space-evenly;
  clip-path: polygon(100% 100%, 80% 98%, 0% 100%, 0% -0.02%, 100% -0.02%);
}

/* ------------------------------------------------ */
/* ------------      About           -------------- */
/* ------------------------------------------------ */
.about-me, .projects h3 {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 45px;
  font-weight: 700;
  width: 50svw;
  color: var(--app-color-light-orange);
  justify-self: center;
  position: relative;
  top: 75px;
  display: grid;
}

.about-me h3 {
  rotate: -5deg;
  text-shadow: 1px 1px 1px #fff;
  justify-self: center;
}

.bio {
  color: #fff;
  width: 50svw;
  height: 100svh;
  font-size: 18px;
  align-self: center;
  display: grid;
}

.bio p {
  padding: 5px;
  text-indent: 10%;
}

.previous-exp {
  position: relative;
  display: grid;
  overflow: hidden;
  height: 5rem;
  width: 100%;
  justify-self: center;
}


.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all 1s ease-in-out;
  place-self: center;
  text-align: center;
  width: 100%;
}

.slide:nth-of-type(1){
  animation: rotate 6s infinite 0.5s;
}

.slide:nth-of-type(2){
  animation: rotate 6s infinite 2s;
}

.slide:nth-of-type(3) {
  animation: rotate 6s infinite 3.5s;
}

.slide:nth-of-type(4) {
  animation: rotate 6s infinite 5s;
}


/* ------------------------------------------------ */
/* ------------      Projects        -------------- */
/* ------------------------------------------------ */
.projects {
  height: 120svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.projects h3 {
  top: -2rem;
  rotate: 5deg;
  text-shadow: -1px -1px 1px #000;
  font-size: 60px;
  text-align: center;
}

.examples {
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-evenly;
  width: 100%;
}

.project {
  width: calc(33.333333333% - 20px);
  height: 250px;
  padding: 10px;
  background: rgb(0 0 0 / 10%);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: var(--app-border-radius);
  box-shadow: 1px 1px 1px #000;
}

.box {
  transition: all 0.25s ease-in-out
}
.box:hover {
  transform: scale(1.02);
  outline: none;
}

.project > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project h4 {
  color: var(--app-color-yellow);
  font-size: 25px;
  text-shadow: 1px 0.5px 1px #000;
}

/* ------------------------------------------------ */
/* ------------      Footer          -------------- */
/* ------------------------------------------------ */

footer {
  color: #fff;
  height: 70px;
  background-color: var(--app-color-blue);
  line-height: 70px;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px rgb(0 0 0 / 50%);
}

.totop {
  font-size: 22px;
  font-weight: 400;
  align-self: center;
  line-height: 50px;

  a {
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: border 0.25s ease-in-out;
  }

  a:hover{
    border-bottom: 2px solid #fff;
  }
}

.icons {
  font-size: 30px;
  width: 150px;

  a {
    color: #fff;

  }

  .fa-envelope:hover {
    color: #ff0000;
    filter: contrast(50%);
  }

  .fa-linkedin:hover {
    color: #00f;
    filter: contrast(50%);
  }

  .fa-github:hover {
    color: #000;
    filter: contrast(50%);
  }
}

@media screen and (max-width: 900px){

  .section-wrapper {
    height: 130svh;
  }
  
  .section-wrapper > div {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .bio {
    min-width: 650px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .about-me {
    top: 40px;
  }

  .about-me img {
    display: none;
  }
}

@media screen and (max-width: 650px){
  .banner-text {
    width: 30rem;
    height: 20rem;
  }

  .banner-title {
    font-size: 30px;
  }

  .banner-blurb {
    font-size: 20px;
  }

  .intouch-button {
    padding: 8px 15px;
    font-size: 15px;
  }

  .about-me {
    font-size: 35px;
  }

  .bio {
    font-size: 16px;
    min-width: 500px;
  }

  .projects h3 {
    font-size: 50px;
  }
  .hyper-typer, .uni-website {
    width: calc(50% - 10px);
  }

  .tip-calc {
    width: 50%
  }

  .totop {
    font-size: 18px;
  }

  .icons {
    font-size: 25px;
  }

  .copyright {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px){
 
  .bio {
    min-width: 300px;
    margin-bottom: 50px;
  }

  .projects {
    height: 200svh;
  }

  .project {
    width: 100%;
    height: fit-content;
  }
}

